body {
    font-family: 'Montserrat', sans-serif;
}

.index {
    margin-top: 175px;
}

.sticky-top {
    position: sticky; 
    top: 100px;
}

.swal2-actions .btn {
    margin: 0 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.float-number {
    position: fixed; /* ✅ Changé de absolute à fixed */
    font-size: 2rem;
    font-weight: bold;
    color: #198754;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
    z-index: 1000;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(-30px) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px) scale(0.8);
    }
}

.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.loading-text {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.loader {
    width: 70px;
    height: 12px;
    border-radius: 20px;
    color: #000;
    border: 2px solid;
    position: relative;
}


.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 1.2s infinite;
}

@keyframes l6 {
    100% { inset: 0; }
}


